* {
  box-sizing: border-box;
  background: hsla(199, 100%, 25%, 1);
  color: white;
}
#outputs {
  text-align: center;
  padding-bottom: 10px;
}
#question-feedback {
  padding-bottom: 10px;
}
section {
  padding: 20px;
}
header {
  text-align: center;
  font-size: 2.5rem;
}
body html {
  margin: 0;
  padding: 0;
  background: hsla(199, 100%, 25%, 1);
}
.feature-label {
   font-size: 1.2rem;
  padding: 10px;
  color: goldenrod;
  transition: all 1s ease-in;
}
.feature-label:hover {
  color: white;
}
input[type=radio] {
    display: none;
}
input[type=text] {
    background: linear-gradient(to right, goldenrod, white);
}
nav {
  width: 100%;
  height: 80px;
  background: hsla(199, 100%, 25%, 1);
  color: white;
  text-align: center;
  font-size: 1rem;
}
#navigation {
  padding-top: 20px;
  background: hsla(199, 100%, 25%, 1);
}
#grid-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  transform-style: preserve-3d;
}
.container {
  display: grid;
  margin: auto;
}
img {
  height: 150px;
  width: 150px;
  border: 3px solid black;
  border-radius: 5px;
  outline: 2px solid black;
  outline-offset: -3px;
}
.content {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  text-align: center;
  font-size: 0.8em;
  height: 150px;
  width: 150px;
  color: transparent;
  transition: all 5s ease;
}
.content:hover {
  color: blue;
}
.overlay {
  display: flex;
  padding: 5px;
  font-size: 0.3em;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  border: 5px solid goldenrod;
  border-top: 15px solid goldenrod;
  text-align: space-evenly;
  transition: all 3s ease;
}
.overlay3 {
  transform: perspective(150px) scaleZ(0.5) rotateX(-180deg);
  z-index: 0.5;
  opacity: 0;
  transition-duration: 2s;
}
.content,
.overlay {
  grid-area: 1 / 1;
}
