* {
  box-sizing: border-box;
  background: hsla(199, 100%, 25%, 1);
  font-family: 'Acme', sans-serif;
}
body html {
  margin: 0;
  padding: 0;
  background: hsla(199, 100%, 25%, 1);
}
#outputs {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
}
#guess-amount {
  font-size: 1.3rem;
  font-family: 'PT Sans', sans-serif;
  color: hsla(342, 86%, 32%, 1);
  text-shadow: 1px 1px 2px black;
  display: block;
  height: 15px;
  text-align: center;
  padding-bottom: 10px;
}
#question-feedback {
  display: block;
  height: 25px;
}
#user-guess-submit-button {
  height: 33px;
  outline: none;
  font-size: 1.2rem;
  margin-left: 10px;
  border-radius: 3px;
  color: black;
  border: 2px solid hsla(0, 0%, 13%, 1);
  background: linear-gradient(to right, hsla(199, 100%, 25%, 1), goldenrod, hsla(199, 100%, 25%, 1));
  -moz-box-shadow: inset 0 0 10px hsla(0, 0%, 8%, 1);
  -webkit-box-shadow: inset 0 0 10px hsla(0, 0%, 8%, 1);
    box-shadow: inset 0 0 10px hsla(0, 0%, 8%, 1);
    transition: all 1.5s ease;
}
#user-guess-submit-button:hover, .tooltip:hover {
  background: linear-gradient(to right, goldenrod,hsla(199, 100%, 25%, 1), goldenrod);
  cursor: pointer;
}
section {
  padding: 10px;
}
#intro {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: 4px 4px 5px rgb(20, 20, 20);
  color: goldenrod;
}
.feature-label {
  font-size: 1.5rem;
  padding: 3px 10px;
  color: goldenrod;
  box-shadow: 0 0 1px 1px rgb(20, 20, 20); 
  border-radius: 1px;
  text-shadow: 4px 4px 5px rgb(20, 20, 20);
  transition: all 1s ease-in;
}
.feature-label:hover {
  color: rgb(20, 20, 20);
  cursor: pointer;
}
input[type=radio] {
    display: none;
}
input[type=text], .tooltip {
    background: linear-gradient(to right, hsla(199, 100%, 25%, 1), goldenrod,hsla(199, 100%, 25%, 1));
    font-size: 1.2rem;
    text-align: center;
    outline: none;
    padding: 6px; 
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid hsla(0, 0%, 13%, 1); 
    -moz-box-shadow: inset 0 0 10px hsla(0, 0%, 32%, 1);
    -webkit-box-shadow: inset 0 0 10px hsla(0, 0%, 32%, 1);
    box-shadow: inset 0 0 10px hsla(0, 0%, 32%, 1);
    -moz-box-shadow: inset 0 0 5px hsla(0, 0%, 8%, 1);
    -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 8%, 1);
    box-shadow: inset 0 0 5px hsla(0, 0%, 8%, 1);
}
::-webkit-input-placeholder {
   color: black;
}
:-moz-placeholder { 
   color: black;  
}
nav {
  width: 100%;
  height: 80px;
  background: hsla(199, 100%, 25%, 1);
  color: white;
  text-align: center;
  font-size: 1rem;
}
#navigation {
  padding-top: 20px;
  background: hsla(199, 100%, 25%, 1);
}
#grid-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  transform-style: preserve-3d;
}
.container {
  display: grid;
  margin: auto;
}
img {
  height: 150px;
  width: 150px;
  border: 3px solid black;
  border-radius: 5px;
  outline: 2px solid black;
  outline-offset: -3px;
  cursor: -webkit-grab;
}
.content {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 0.9em;
  height: 150px;
  width: 150px;
  padding-top: 5px;
  color: transparent;
  transition: all 5s ease;
}
.content:hover {
  color: goldenrod;
  text-shadow: 1px 1px 0px black;
}
.overlay {
  display: flex;
  padding: 5px;
  font-size: 0.3em;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  border: 5px solid goldenrod;
  border-top: 15px solid goldenrod;
  text-align: space-evenly;
  transition: all .1s ease;
}
.overlay3 {
  transform: perspective(150px) scaleZ(0.5) rotateX(-180deg);
  z-index: 0.5;
  opacity: 0;
  transition-duration: 2s;
}
.content,
.overlay {
  grid-area: 1 / 1;
}
.align {
  text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px;
  border-radius: 3px;
  color: black;
  height: 33px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  border: black solid 5px;
  color: goldenrod;
  text-shadow: 1px 1px 0 black;
  text-align: center;
  border-radius: 6px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

