* {
    box-sizing: border-box;
}

body {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 4px 4px goldenrod;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

/* placeholder border for image */
#correct-face {
    height: 180px;
    width: 140px;
    border: 1px dashed black;
    margin: 1% 46%;
}

#leaderboard {
    height: 300px;
    width: 600px;
    border: 1px solid black;
    margin: 1% 34%;
}

button {
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 1%;
    border-radius: 15px;
    border: 2px solid black;
    background-color: goldenrod;
    outline: none;
}

#play-again {
    margin-left: 38.5%;
    margin-right: 10px;
}

#about-us {
    margin-right: 38.5%; 
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
}

button:active {
    color: white;
    background-color: black;
}